{% extends 'registration\registration_base.html' %}
{% load static %}

{% block registration_content %}

{% if validlink %}
    <p>
        Please enter and confirm your new password
    </p>
    <form action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    {{ form.new_password1.errors }} <label for="id_new_password1">New password:</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.new_password2.errors }}<label for="id_new_password2">Confirm pasword:</label>
                </td>
                <td>
                    {{ form.new_password2 }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="change password">
                </td>
            </tr>
        </table>
    </form>
{% endif %}
    <h1>Password reset failed!</h1>
    <p>Password reset link was bad. May be because it was already used.</p>
{% endblock %}