/* BASE STYLES */
* {
  font-family: monospace;
  color: green;
  letter-spacing: 2px;
}

body {
  background-color: black;
}

/* FORUM */
.chat {
  margin: 40px;
  width: 95%;
}
.chat .title {
  font-size: 16pt;
  margin-bottom: 30px;
}
.chat .message_wrapper {
  display: flex;
  border: 1px solid #f5deb3;
}
.chat .message_wrapper .author {
  width: 200px;
  align-self: center;
  padding: 10px;
}
.chat .message_wrapper .author .name {
  word-wrap: break-word;
  color: rgba(210, 64, 246, 0.67);
}
.chat .message_wrapper .message {
  border-left: 1px solid #f5deb3;
  padding: 10px;
  display: inline-block;
}
.chat .message_wrapper .message .text {
  padding-top: 5px;
  text-align: left;
  font-size: 10pt;
}
.chat .message_wrapper .message .description {
  text-align: left;
  margin-top: 5px;
  color: rgba(0, 128, 0, 0.43);
}
.chat .message_wrapper .message .like {
  float: right;
}
.chat .message_wrapper .message .like > img {
  width: 32px;
}
.chat .chat_form_wrapper {
  border: 1px solid #f5deb3;
  padding: 20px;
}
.chat .chat_form_wrapper .form .shit {
  width: 80%;
  display: inline-block;
}
.chat .chat_form_wrapper .form .shit .text_input_wrapper .text_input {
  padding: 15px;
  background-color: black;
  width: 100%;
}
.chat .chat_form_wrapper .form .shit .submit_input_wrapper {
  margin-top: 10px;
  text-align: right;
}
.chat .chat_form_wrapper .form .shit .submit_input_wrapper .submit_input {
  padding: 10px;
  background-color: black;
}

/* ARTICLE */
.article {
  margin: auto;
  max-width: 900px;
  text-align: center;
}
.article .title {
  font-size: 40pt;
  font-weight: 500;
}
.article .subtitle {
  color: rgba(0, 128, 0, 0.43);
  font-size: 15pt;
  margin-bottom: 10px;
}
.article .text {
  font-size: 16pt;
}
.article > .like {
  margin-bottom: 50px;
}
.article > .like > img {
  width: 64px;
}
.article .message_wrapper {
  display: flex;
  border: 1px solid #f5deb3;
}
.article .message_wrapper .author {
  width: 200px;
  align-self: center;
  padding: 10px;
}
.article .message_wrapper .author .name {
  word-wrap: break-word;
  color: rgba(210, 64, 246, 0.67);
}
.article .message_wrapper .message {
  border-left: 1px solid #f5deb3;
  padding: 10px;
  display: inline-block;
}
.article .message_wrapper .message .text {
  padding-top: 5px;
  text-align: left;
  font-size: 10pt;
}
.article .message_wrapper .message .description {
  text-align: left;
  margin-top: 5px;
  color: rgba(0, 128, 0, 0.43);
}
.article .message_wrapper .message .like {
  float: right;
}
.article .message_wrapper .message .like > img {
  width: 32px;
}
.article .chat_form_wrapper {
  border: 1px solid #f5deb3;
  padding: 20px;
}
.article .chat_form_wrapper .form .shit {
  width: 80%;
  display: inline-block;
}
.article .chat_form_wrapper .form .shit .text_input_wrapper .text_input {
  padding: 15px;
  background-color: black;
  width: 100%;
}
.article .chat_form_wrapper .form .shit .submit_input_wrapper {
  margin-top: 10px;
  text-align: right;
}
.article .chat_form_wrapper .form .shit .submit_input_wrapper .submit_input {
  padding: 10px;
  background-color: black;
}

/* BASE CONTENT */
body > .content_wrapper > .content {
  margin-top: 70px;
  min-height: 700px;
  text-align: center;
}

/* FOOTER */
body > .footer {
  text-align: center;
  border-top: 1px solid #f5deb3;
}
body > .footer > .footer_elem {
  padding: 10px;
  display: inline-block;
  font-size: 10pt;
}

/* HEADER */
a:hover {
  color: yellowgreen;
}

body > .header {
  border-bottom: 1px solid #f5deb3;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: black;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-around;
}
.nav .active {
  color: yellow;
  text-shadow: yellow 0 0 10px;
  border-left: 1px solid #f5deb3;
  border-right: 1px solid #f5deb3;
  border-bottom: 2px solid black;
}
.nav .elem {
  font-size: 20px;
  display: inline-block;
  list-style: none;
}
.nav .elem a {
  display: inline-block;
  padding: 20px;
  height: 100%;
}

/* HOME */
.home {
  padding: 30px;
  background-color: black;
  display: inline-block;
  border: 1px solid #f5deb3;
  margin: 40px;
}
.home .name {
  font-size: 17pt;
  color: rgba(210, 64, 246, 0.67);
}
.home .image {
  margin: 30px;
}
.home .info {
  font-size: 13pt;
}
.home .footer {
  margin-top: 20px;
  font-size: 11pt;
  color: rgba(0, 128, 0, 0.43);
}

/* LOGIN */
.login_form_wrapper {
  margin-top: 30px;
  display: inline-block;
  border: 1px solid #f5deb3;
  padding: 30px;
}
.login_form_wrapper .form .login_wrapper label {
  margin-top: 20px;
  font-size: 12pt;
  display: block;
}
.login_form_wrapper .form .login_wrapper .login_input {
  margin: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #f5deb3;
  background-color: black;
}
.login_form_wrapper .form .pass_wrapper label {
  margin-top: 20px;
  font-size: 12pt;
  display: block;
}
.login_form_wrapper .form .pass_wrapper .password_input {
  margin: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #f5deb3;
  background-color: black;
}
.login_form_wrapper .form .submit_wrapper .submit_input {
  margin: 20px;
  margin-bottom: 0px;
  padding: 10px;
  border: 1px solid #f5deb3;
  background-color: black;
}
.login_form_wrapper .form .submit_wrapper .submit_input:hover {
  background-color: #2d2f2d;
}

/* CARDS */
.card {
  margin: 50px;
  border: 1px solid #f5deb3;
  display: inline-block;
  min-width: 500px;
  max-width: 500px;
  text-align: left;
  padding: 25px;
}
.card:hover {
  cursor: pointer;
  background-color: #1e251e;
}
.card .title {
  font-size: 15pt;
  color: #01bb01;
}
.card .subtitle {
  color: rgba(0, 128, 0, 0.65);
}
.card .text {
  margin-top: 10px;
  font-size: 13pt;
}
.card .footer {
  color: rgba(0, 128, 0, 0.43);
  margin-top: 15px;
}

/* DEFAULT */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

/* CREATE ARTICLE */
.create_article_wrapper {
  width: 80%;
  margin: auto;
  text-align: left;
}
.create_article_wrapper .pre_message {
  margin-bottom: 30px;
  text-align: center;
}
.create_article_wrapper .pre_message .title {
  font-size: 20pt;
}
.create_article_wrapper .form .title_label_wrapper {
  text-align: left;
  margin-bottom: 10px;
}
.create_article_wrapper .form .title_label_wrapper label {
  font-size: 12pt;
}
.create_article_wrapper .form .title_input_wrapper {
  margin-bottom: 30px;
}
.create_article_wrapper .form .title_input_wrapper .title_input {
  background-color: black;
  padding: 10px;
}
.create_article_wrapper .form .text_input_wrapper {
  text-align: left;
  margin-bottom: 10px;
}
.create_article_wrapper .form .text_input_wrapper label {
  font-size: 12pt;
}
.create_article_wrapper .form .article_input_wrapper .article_input {
  font-size: 12pt;
  width: 100%;
  padding: 30px;
  background-color: black;
}
.create_article_wrapper .form .submit_input_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}
.create_article_wrapper .form .submit_input_wrapper .submit_input {
  background-color: black;
  border: 1px solid #f5deb3;
  padding: 15px;
}

/*# sourceMappingURL=new_scss_styles.css.map */
