{% extends '/base/content_wrapper.html.j2' %}

{% block content %}
  <div class="rules_wrapper">
    <h1 class="rules_title">Rules</h1>
    <span class="rules">
      1. Общие положения.
<br>
1.1. Настоящие ПРАВИЛА действительны для всех разделов форума http://ohranatruda.ru/ot_forum/ и являются неотъемлемой частью Пользовательского соглашения.
1.2. ПРАВИЛА форума, указанные ниже, обязательны для выполнения всеми участниками форума без исключений. Если Вы не согласны с этими условиями, пожалуйста, не используйте этот Сервис (форум).
1.3. Администрация оставляет за собой право изменять правила без уведомления пользователей. Каждый зарегистрированный пользователь - участник форума обязан самостоятельно знакомиться с настоящими правилами, следить за их изменением и строго руководствоваться ими. Незнание Правил не освобождает пользователя от ответственности за их нарушение.
1.4. Форум является постмодерируемым, т.е. добавление сообщений пользователями происходит сразу, а их модерация позже. В связи с этим Администрация форума не несет ответственности за информацию, размещенную пользователями форума, т.к. с момента ее публикации до модерирования проходит определенное время.
1.5. Для получения возможности оставлять сообщения на Форуме пользователям необходимо зарегистрироваться на сайте www.ohranatruda.ru. Регистрация подразумевает, что Вы согласны с данными Правилами форума, Пользовательским соглашением и обязуетесь их соблюдать.
1.6. Зарегистрированный пользователь вправе самостоятельно удалить свою учетную запись. Чтобы перейти к разделу самоудаления учетной записи необходимо на «Личной странице: Профиль» нажать на красный крестик «Самоудаление».
<br>

2. Правила и рекомендации по созданию новых тем и размещению сообщений (постов).
<br>

2.1. Перед открытием новой темы обязательно воспользуйтесь поиском - возможно подобная тема уже была и все вопросы по ней решены!
2.2. Открывайте новую тему в наиболее подходящем к её содержанию разделе. Если Ваша тема не соответствует тематике тематических форумов, пишите в форум "Поболтаем..". Темы, не соответствующие тематике форума, переносятся в подходящий форум, а на прежнем месте удаляются. Темы, нарушающие Правила, будут закрываться или удаляться.
2.3. В заголовке новой темы обязательно обозначайте ее основную суть, а в теле сообщения давайте развернутое описание. Если заголовком темы суть дела обозначить нельзя, то при создании темы воспользуйтесь графой «Описание темы».
2.4. Старайтесь писать грамотно. Проверяйте написанные сообщения перед тем как их опубликовать.
2.5. При написании сообщения избегайте излишнего цитирования ранее опубликованных сообщений. Это затрудняет чтение форума и излишне загружает тему.
2.6. Если Вам нечего сказать — лучше ничего не говорить. Не надо писать сообщения только для того, чтобы отметиться.
2.7. Важно! Не обращайте внимания на «троллей», которые нагнетают гнев, начинают задирать, принижать, скрыто или явно оскорблять другого участника форума, создают конфликт, при этом нарочно нарушают настоящие правила и этику сетевого общения. Не дразните их – отсутствие внимания сразу сводит дискуссию на «НЕТ», и не отвечайте им той же монетой, даже если Вы считаете, что Вас оскорбили. Остальное — забота модератора!
2.8. Все просьбы о пересыле нормативных актов направлять в личку. Т.к. большое количество подобных сообщений засоряют темы и делают их не информативными. Подобные сообщения будут удаляться.
<br>

3. На форуме ЗАПРЕЩЕНО:
<br>

3.1. Создавать сообщения, наpyшающие действyющее законодательство РФ.
3.2. Публиковать заведомо ложнyю инфоpмацию, клеветy.
3.3. Использовать мат и/или грубые выражения (в том числе в замаскированной форме).
3.4. Оскорблять кого-либо в прямой или косвенной форме, высказывать неуважение и/или хамить участникам форума. Использовать жаргонные слова (ЛГБТ-сленг, сленг наркоманов, уголовный жаргон и т.п.), которые для подавляющей части профессионального сообщества неприятны, оскорбительны и говорят о Вашем неуважительном отношении к участникам форума.
3.5. Применять нечестные приемы ведения дискуссий в виде "передергиваний" высказываний собеседников, правки/удаления своих собственных сообщений с целью исказить/скрыть их первоначальный смысл, а также провокаций, направленных на участников Форума, в результате чего могут быть нарушены данные Правила.
3.6. Специально продолжать обсyждение вопросов из тем, закрытых либо удалённых администрацией.
3.7. Рекламировать в сообщениях, подписях или аватарах любые товары и услуги. Осуществлять на форуме любую скрытую рекламу компаний, товаров и услуг.
3.8. Оставлять в сообщениях ссылки, основная цель которых - seo раскрутка других интернет ресурсов.
3.9. Создавать одинаковые темы или сообщения в разных форумах. Создавать темы, не соответствующие данному форуму.
3.10. Создавать новые темы с названиями, не отражающими суть проблемы или вопроса (например: Помогите, Срочно нужна помощь, СИЗ, Спец.одежда, Мед.осмотр, Обучение, и т.д. и т.п.).
3.11. Создавать сообщения, не несущие конкретной смысловой нагрузки в контексте обсуждаемой темы (флуд). Создавать сообщения для обсуждения вопросов, касающихся личных отношений между участниками форума (то, что ты описал в разделе 6 п.2)
3.12. Cоздавать сообщения и названия тем ЗАГЛАВНЫМИ или заглавными и прописными буквами вперемешку ("вОт ТаКиМ оБрАзОм"), излишнее выделение текста в целях привлечения внимания полужирным шрифтом, курсивом, подчёркиванием, отличным от стандартного для сообщений форума цветом, шрифтом, размером шрифта.
3.13. Обсуждать наказания, сделанные модераторами или администратором. Критиковать или осуждать иные решения, принятые модераторами в части администрирования форума. Критиковать модераторов и администраторов. Оставлять негативные отзывы о настоящем форуме.
3.14. Публиковать откровенную эротику, порнографию, включая ссылки на порнографические сайты. Обсуждать сексуальную жизнь; сексуальное здоровье; заболевания, передающиеся половым путем.
3.15. Запрещена двойная регистрация одним пользователем (создание клонов).
3.16. Запрещается в постах оставлять ссылки на файлы, размещенные на других ресурсах для их скачивания за деньги. Если имеется возможность бесплатного скачивания таких файлов, то процедура скачивания должна быть понятной и простой, а именно: без принудительного просмотра рекламы или искусственного ожидания в течении 1-3 минут, сделанного ради того, чтобы пользователи покупали платные премиум аккаунты. Запрещается в постах оставлять ссылки на файлы, содержащие вирусы, вредоносное ПО и т.д.
<br>

ИСКЛЮЧЕНИЯ из п.3 (На форуме ЗАПРЕЩЕНО):
<br>
а) Флуд частично разрешен в разделе форума «Поболтаем..».

Флуд - сообщения на форуме, не несущие полезной информации, и распространяется как правило в результате избытка свободного времени и с целью умственного отдыха. Однако следует учитывать, что даже в этом разделе вводится полный запрет на флуд, явно затрудняющий общение. В частности на флуд, который не имеет абсолютно никакого отношения к обсуждаемой теме или флуд между 2-3 участниками, в случае если он явно мешает в данной теме общению других пользователей. Содержание флуда не должно нарушать п.3. настоящих правил.
<br>

4. Администрирование и модерирование форума.
<br>

4.1. Администратор, редакторы и модераторы имеют право редактировать, переносить и закрывать темы, а также удалять (скрывать) сообщения и темы, не удовлетворяющие правилам форума без объяснения причин.
4.2. Администратор имеют право удалять учетные записи "злостных" нарушителей настоящих правил.
4.3. Неправомерные действия редакторов и модераторов можно обжаловать только Администратору форума и только посредством Персональных сообщений (email или в веб-мессенджер). Старайтесь четко сформулировать, в чем конкретно заключается неправомерное действие модератора, учитывайте при этом содержание и требования настоящих правил. Ссылаясь на форум указывайте url (ссылки) на конкретные сообщения. В случае скрытых сообщений указывайте название темы, а также автора, дату и примерное время публикации скрытых модераторами сообщений. Администратор вправе не рассматривать обращения с хамством, обращения с абстрактными ссылками на большие темы (уважайте чужое время), а также на обращения, в которых кроме обвинений и эмоций отсутствует какая-либо конкретика.
4.4. Решение Администратора является окончательным и обжалованию не подлежит.
4.5. Предложения по изменению и корректировки настоящих правил следует также направлять Администратору форума посредством Персональных сообщений (email или в веб-мессенджер). Предложения должны быть оформлены в виде конкретных формулировок.
<br>

5. Реклама на форуме.
<br>

5.1. На форуме запрещена любая несанкционированная и неоплаченная реклама в любом её проявлении:
- реклама товаров, услуг, компаний, интернет ресурсов в сообщениях, в подписях или на аватарах. Запрещается в профиле пользователя вместо своего имени указывать наименование компании, бренда, торговой марки.
- любая скрытая реклама.
5.2. На форуме разрешается только оплаченная реклама в виде баннеров и рекламных тем. Условия и тарифы на размещение рекламы опубликованы на отдельной странице «Реклама на сайте».
<br>

6. Индивидуальное (личное) общение участников форума через веб-мессенджер
<br>

6.1. Каждый участник форума должен учитывать специфику такой формы общения, как Форум и четко понимать её отличие от индивидуальной переписки (чата). В Форуме все сообщения хранятся неограниченное время и доступны для чтения в будущем всем посетителям форума. Поэтому на форуме принято создавать сообщения, представляющие не сиюминутный интерес узкого круга лиц, а сообщения, которые интересно будет читать всем посетителям и через несколько месяцев после их написания.
6.2. Личная переписка в темах на форуме – это неоднократные обращения к конкретным участникам (или небольшим группам 2-3 участника) форума по личным вопросам, представляющим интерес исключительно только для этих участников (особенно, если ничего кроме этих обращений в сообщении не содержится). Такие сообщения считается оффтопиком. Для личной переписки существует Веб-мессенджер.
6.3. Веб-мессенджер это интерактивный инструмент для обмена личными сообщениями, который ничем не отличается от привычных всем «асек». Кроме того при наличии последней версии браузера Хром Вы можете совершать аудио и видео звонки пользователям.
6.4. В Веб-мессенджере Вы можете пригласить зарегистрированных пользователей в чат и быстро обсудить все вопросы, в том числе публичное обсуждение которых запрещено настоящими правилами. У каждого чата для удобства сохраняется своя история.
<br>

7. САНКЦИИ к пользователям, нарушившим настоящие правила.
<br>

7.1. При нарушении участниками форума его правил, модераторы самостоятельно определяют степень нарушения и имеют право действовать по своему усмотрению: удалять, перемещать или редактировать сообщения и темы; выдавать устные предупреждения, блокировать доступ к учетной записи.
7.2. За нарушение настоящих правил может последовать применение того или иного вида наказания:
- замечание (личным сообщением или соответствующим постом модератора);
- бан участника - регистрационная запись участника блокируется на определенное время;
- удаление учетной записи пользователя.
<br>

За нарушение п.3.1-п.3.3 пользователь получает предупреждение, при повторных нарушениях (2 и более раза) пользователь блокируется на неделю. В зависимости от степени допущенного нарушения может быть применена более строгая мера наказания вплоть до удаления. В случае применения в сообщениях форума мата учетная запись пользователя блокируется на месяц либо удаляется;
За нарушение П.3.4-п.3.6 пользователь получает предупреждение, при повторных нарушениях блокируется на месяц;
За нарушение п.3.7-п.3.8 пользователь удаляется. В исключительных случаях по усмотрению администрации первая санкция может быть в виде замечания;
За нарушение П.3.9-п.3.12 пользователь получает предупреждение, при повторных нарушениях блокируется на период от недели до месяца;
За нарушение П.3.13 пользователь получает предупреждение, при повторных нарушениях блокируется на месяц;
За нарушение П.3.14 пользователь удаляется;
За нарушение П.3.15 пользователь получает предупреждение, повторная учетная запись удаляется либо блокируется навечно. При повторных нарушениях (2 и более раза) удаляются либо блокируется навечно все учетные записи одного пользователя.
Праздничные дни, попадающие на период бана пользователя, добавляются к общему сроку блокировки.
<br>

В случае многократных нарушений правил форума, включая неоднократное игнорирование предупреждений и наказаний, учетная запись нарушителя удаляется.
<br>

7.3. Применение наказаний к пользователю в виде бана или удаления его учетной записи фиксируется в специальной закрытой теме «БАН». Фиксация в данной теме наказаний в виде замечаний производится по усмотрению модераторов.
<br>

8. Звания пользователей:
<br>

На форуме сайта www.ohranatruda.ru всем зарегистрированным участникам присваиваются звания.Звания устанавливаются персонально каждому участнику форума в зависимости от количества заработанных баллов.
Участник форума зарабатывает баллы двумя способами:
а) каждый участник получает баллы за каждое оставленное на форуме сообщение:
- если Вы оставили на форуме от 1 до 1000 сообщений, то за каждое сообщение получаете 1 балл,
- если Вы оставили на форуме от 1001 до 2000 сообщений, то за каждое сообщение получаете 2 балла,
- если Вы оставили на форуме от 2001 до 3000 сообщений, то за каждое сообщение получаете 3 балла,
- если Вы оставили на форуме от 3001 до 5000 сообщений, то за каждое сообщение получаете 4 балла,
- если Вы оставили на форуме более 5001 сообщений, то за каждое сообщение получаете 5 баллов;
б) участнику форума начисляются баллы, когда ему отдают свой голос другие зарегистрированные посетители, т.е. когда голосуют за него.
<br>

На форуме предусмотрены следующие стандартные звания, присваемые автоматически при следующих условиях:
«Гость» (имеет право отдать каждому участнику форума 1 голос стоимостью 1 балл). Звание получают все по умолчанию.
«Постоянный участник» (имеет право отдать каждому участнику форума 1 голос стоимостью 2 балла). Для получения звания необходимо заработать 150 баллов.
«Консультант» (имеет право отдать каждому участнику форума 1 голос стоимостью 3 балла). Для получения звания необходимо заработать 5000 баллов.
«Эксперт» (имеет право отдать каждому участнику форума 1 голос стоимостью 4 баллов). Для получения звания необходимо заработать 15000 баллов.
«Оратор» (имеет право отдать каждому участнику форума 1 голос стоимостью 5 баллов). Для получения звания необходимо заработать 120000 баллов.
«МегаОратор» (имеет право отдать каждому участнику форума 1 голос стоимостью 5 баллов). Для получения звания необходимо заработать 170000 баллов.
«Душа Форума» (имеет право отдать каждому участнику форума 1 голос стоимостью 5 баллов). Для получения звания необходимо заработать 250000 баллов.
<br>

Администратор (админ - директор сайта), Редактор и Модератор (ответственные за "порядок" на форуме). Данные звания присваиваются только административному персоналу сайта ОХРАНА ТРУДА.
<br>

На форуме предусмотрена возможность присуждения пользователям индивидуальных званий. Процедура присуждения индивидуального звания инициируется администрацией форума либо по обращению инициативной группы зарегистрированных пользователей (заранее согласованное между собой предложение должно поступить администратору или модераторам минимум от трех пользователей). Окончательное решение о присуждении индивидуальных званий принимается администрацией форума.
В качестве примера наименований таких званий можно привести следующие варианты: «Эксперт охраны труда», «Профессор», «Пожарник», «Болтун», «Весельчак», «Спец по электрохозяйству», «Лучший консультант», «Наставник», «Философ», «Легенда форума, «», «Блондинка» и т.д.


    </span>
  </div>
{% endblock %}
