{% extends "base/content_wrapper.html.j2" %}

{% block content %}
<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>

<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>

<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>

<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>

<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>

<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>

<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>

<div class="card">
    <div class="title">Card title</div>
    <div class="subtitle">card subtitle</div>
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
    <div class="footer">card footer</div>
</div>
{% endblock %}
