<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_scss_styles.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block head %} {% endblock %}
    <title> {% block Title %} Document {% endblock %} </title>
</head>

<body class="body">

    {% block header -%} {% endblock %}
    {% block content_wrapper -%} {% endblock %}
    {% block footer -%} {% endblock %}
    <script type="text/javascript" src=" {{ url_for('static', filename='script/base_script.js') }}"></script>
</body>

</html>
