{% extends 'base/base.html.j2' %}


{% block footer %}
<div class="footer">
    <div class="footer_elem">shit</div>
    <div class="footer_elem">shit</div>
    <div class="footer_elem">shit</div>
    <div class="footer_elem">shit</div>
    <div class="footer_elem">shit</div>
</div>
{% endblock %}
