{% extends 'base/footer.html.j2' %}


{% block header %}
<div class="header">
    <div class="nav">
      {% if headers %}
        {% for elem in headers%}
        <ul>
            <li class="elem"><a href="{{ elem.url }}" class="ref">{{ elem.title }}</a></li>
        </ul>
        {% endfor %}
      {% else %}
      <span>Some shit with headers!</span>
      {% endif %}
    </div>

</div>
{% endblock %}
