{% extends "base/content_wrapper.html.j2" %} 
{% block content %}
<div id="{{ article.id }}" class="article">
    <div class="title">
        {{ article.title }}
    </div>
    <div class="subtitle">
        {{ author.nickname }}:{{ author.email }}
    </div>
    <div class="text">
        {{ article.text }}
    </div>

    <div class="like">
	<div class="likes_count">{{ article.likes }}</div>
        <img src="{{ url_for('static', filename='img/like.png') }}" alt="">
    </div>

    {% for comment in comments %}
    <div class="message_wrapper">
        <div class="author">
		<div class="name">{{ comment.author_name }}</div>
        </div>
	<div id="{{ comment.id }}" class="message">
            <div class="text">{{ comment.text }}</div>
            <div class="description">{{ comment.date }}</div>
	    <div id="{{ comment.id }}" class="like">
		    <div class="likes_count">{{ comment.likes }}</div>
		    <img width="64" src="{{ url_for('static', filename='img/like.png') }}" alt="">
	    </div>
        </div>
    </div>
    {% endfor %}
    <div class="chat_form_wrapper">
        <form class="form" method="POST" action="{{ comment_url }}">
            {{ form.hidden_tag() }}
            <div class="shit">
                <div class="text_input_wrapper">
                    {{ form.comment() }}
                </div>
                <div class="submit_input_wrapper">
                    {{ form.submit() }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
