{% extends 'content.html' %}
{% load static %}

{% block content %}
                {% for article in articles %}
                <div id="{{ article.id }}" class="article">
                    <p class="article_title">{{ article.title }}</p>
                    {% with article_text=article.text|safe %}
                    <p class="article_text">{{ article_text|truncatechars:10 }}</p>
                    {% endwith %}
                    <p class="article_date">{{ article.date }}</p>
                </div>
                <script>
                    addEventListener("DOMContentLoaded", () => {
                        let article = document.getElementById("{{ article.id }}")
                        article.addEventListener("click", () => {
                            window.location.replace('{% url 'articles:solo_article' article.id %}')
                        })
                    })
                </script>
                {% empty %}
                <div>There is no articles :( </div>
                {% endfor %}
{% endblock %}
